.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: black;
    line-height: 40px;
    font-size: 20px;
    width: 100%;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 2px;
    padding: 5px;
}
nav a:hover{
    align-items: center;
    background-color: gray;
}
@media only screen and (max-width: 720px){
    .header nav{
        background-color: black;
        line-height: 35px;
        font-size: 18px;
        width: 155%;
    }
}